:root {
    // FONTS
    --font-regular: 'Rubik'
    --font-light: 'Rubik-Light'

    // COLORS
    --color-p: #2D3436;
    --color-p2: #34495e;
    --color-black-87: #00000087;
    --color-shadow-black: #00000020;
    --color-card: #E7F1FE;

    // DIMENSIONS
    --header-h: 100px;
    --max-content-width: 1200px;
    --margin-default: 16px
    --margin-gap: 10px;
    --padding-default: 16px;
    --skill-size: 150px;
    --title-size: 40px;
}